body {
    
    padding-left: 11em;
    padding-right: 11em;
    font-family: Helvetica;
    font-size: 18pt;
    color: white;
    background-position: center;
    background-color: purple; 
}

u {
  font-size: 250%;
  color: white; 
}

strong {
    font-size: 150%;
    color: yellow;
}
